.idea/
__pycache__/
*.py[cod]
.venv/
venv/

data_2d_raw/
data_3d_raw/
data_poses/
calibration/
bboxes_3D_cam0/
kitti360Scripts-master/
kitti360Scripts-master.zip

output*/
*.ply
*.png
*.jpg
*.jpeg
*.bin
*.npy
*.pt
*.txt
!requirements.txt

main.py
eval_3d_detection.py
3rd_May_op.py
YOLO_Instance_Seg+3dpoint
YOLO_Instance_Seg+3dpoint.py
*code.txt
